* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    width: 100%;
}

#main {
    min-height: 100vh;
    min-width: 100vw;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
    background-color: #dadada;
    padding: 0 7vh;
}

#nav h2 {
    font-size: 3.5vh;
    font-weight: 600;
}

#links {
    display: flex;
    gap: 8vh;
}

#links a {
    color: #000;
    text-decoration: none;
    font-size: 2.5vh;
}

#navbi {
    display: flex;
}

#navbi button {
    min-height: 5vh;
    width: 6vw;
    border-radius: 5px;
    background-color: #abc1c1eb;
}

#navbi i {
    display: none;
}

#home {
    display: flex;
    min-height: 90vh;
    width: 100%;
}

#left {
    position: relative;
    width: 30%;
    min-height: 90vh;
    background-color: #dadada;
}

#text {
    position: absolute;
    top: 10%;
    width: 80%;
    right: 0;
}

#text h1 {
    font-size: 2.5vw;
    font-weight: 600;
}

#text p {
    font-size: .9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    opacity: .7;
}

#text #btn {
    padding: .5rem;
    border-radius: 5px;
    background-color: #abc1c1eb;
}

#center {
    width: 45%;
    min-height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1465311440653-ba9b1d9b0f5b?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6vw;
    width: 25%;
    min-height: 90vh;
    background-color: #dadada;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
}

#detls {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.loc h4 {
    font-size: 1.2rem;
}

.loc h6 {
    font-size: .7rem;
    opacity: .7;
}

#icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

@media (max-width: 500px) {
    #nav {
        padding: 0 5vh;
        max-width: 100%;
    }

    #nav h2 {
        font-size: 1.4rem;
    }

    #links {
        display: none;
    }

    #navbi button {
        min-height: 3vh;
        width: 15vw;
    }

    #navbi i {
        display: initial;
        align-items: center;
        justify-content: center;
        font-size: 2vh;
        margin-left: 2vh;
    }

    #home {
        flex-direction: column;
    }

    #left {
        width: 100%;
        min-height: 30vh;
    }

    #text {
        width: 100%;
        left: 10%;
    }

    #text h1 {
        font-size: 1.8rem;
    }

    #text p {
        font-size: 1rem;
        width: 60%;
    }

    #center {
        width: 100%;
        min-height: 35vh;
        background-position: center;
    }

    #right {
        width: 100%;
        min-height: 25vh;
    }

    #circle {
        position: absolute;
        right: 20%;
        top: 20%;
        height: 15vw;
        width: 15vw;
    }

    .loc h4 {
        font-size: 1.7rem;
    }

    .loc h6 {
        font-size: 1rem;
    }

    #icons {
        font-size: 2rem;
    }

}